<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
<main class="container noselect">
  <h1 style="margin-top: 100px;">Calculadora de números complejos</h1>

  <label>Primer complejo: </label>
  <div class="grid">
    <input type="number" step="0.01" id="complejo1_n1" [(ngModel)]="c1_n1">
    <input *ngIf="f1.value === '0: b';else simboloPolar" readonly type="text" value="+" style="text-align: center; border: none;">
    <ng-template #simboloPolar><input readonly type="text" value="∟" style="text-align: center; border: none;"></ng-template>
    <input type="number" step="0.01" id="complejo1_n2" [(ngModel)]="c1_n2">
    <div *ngIf="f1.value === '0: b';else simboloGrado" style="margin-top: 16px;" class="simbolo">i</div>
    <ng-template #simboloGrado><div style="margin-top: 16px;" class="simbolo">º</div></ng-template>
    <select #f1 [(ngModel)]="forma1">
      <option selected value="b" [ngValue]="'b'">Binómica</option>
      <option value="p" [ngValue]="'p'">Polar</option>
    </select>
  </div>  
  <label>Segundo complejo: </label>
  <div class="grid">
    <input type="number" step="0.01" id="complejo2_n1" [(ngModel)]="c2_n1">
    <input *ngIf="f2.value === '0: b';else simboloPolar" readonly type="text" value="+" style="text-align: center; border: none;">
    <ng-template #simboloPolar><input readonly type="text" value="∟" style="text-align: center; border: none;"></ng-template>
    <input type="number" step="0.01" id="complejo2_n2" [(ngModel)]="c2_n2">
    <div *ngIf="f2.value === '0: b';else simboloGrado" style="margin-top: 16px;" class="simbolo">i</div>
    <ng-template #simboloGrado><div style="margin-top: 16px;" class="simbolo">º</div></ng-template>
    <select #f2 [(ngModel)]="forma2">
      <option selected value="b" [ngValue]="'b'">Binómica</option>
      <option value="p" [ngValue]="'p'">Polar</option>
    </select>
  </div>  

  <div class="grid">
    <input style="background-color: #970103; border-color: #660002;" type="button" value="Sumar" (click)="calcular('s')">
    <input style="background-color: #d5a100; border-color: #977100;" type="button" value="Restar" (click)="calcular('r')">
    <input style="background-color: #0b9a02; border-color: #066100;" type="button" value="Multiplicar" (click)="calcular('m')">
    <input style="background-color: #1500d7; border-color: #10009e;" type="button" value="Dividir" (click)="calcular('d')">
  </div>

  <div class="grid">
    <div></div>
    <div class="grid">
      <input class="secondary" type="button" value="Potencia" (click)="calcular('p')">
      <input type="number" min="0" step="1" [(ngModel)]="exponenteP" value="0">
    </div>
    <div class="grid">
      <input type="button" value="Raíces" (click)="calcular('rz')">
      <input type="number" min="2" step="1" [(ngModel)]="exponenteRz" value="2">
    </div>
    <div></div>
  </div>

  <app-resultado [mostrar]="hayResultado" [complejo]="c3" [raices]="raices" [operacion]="opSeleccionada" [c1]="c1"></app-resultado>
  <div *ngIf="hayResultado" class="grid" style="text-align: center; margin-bottom: 100px;">
    <div></div>
    <canvas width="400" height="400" id="plano"></canvas>
    <div *ngIf="opSeleccionada!=='rz';else leyendaRaices" style="text-align: right;" class="headings">      
      <p>Leyenda</p>
      <p *ngIf="c1.getForma()==='b';else imprimePolar" style="color: #970103;">{{c1.imprimir()}}</p>
      <ng-template #imprimePolar><p style="color: #970103;">{{c1.copiaCambioForma().imprimir()}}</p></ng-template>
      <p id="segundoLeyenda" *ngIf="c2.getForma()==='b';else imprimePolar" style="color: #d5a100;">{{c2.imprimir()}}</p>
      <ng-template #imprimePolar><p id="segundoLeyenda" style="color: #d5a100;">{{c2.copiaCambioForma().imprimir()}}</p></ng-template>
      <p *ngIf="c3.getForma()==='b';else imprimePolar" style="color: #0b9a02;">{{c3.imprimir()}}</p>    
      <ng-template #imprimePolar><p style="color: #0b9a02;">{{c3.copiaCambioForma().imprimir()}}</p></ng-template> 
    </div>
    <ng-template #leyendaRaices>
      <div style="text-align: right;" class="headings">      
        <p>Leyenda</p>
        <p *ngIf="c1.getForma()==='b';else imprimePolar" style="color: #fff;">{{c1.imprimir()}}</p>
        <ng-template #imprimePolar><p style="color: #fff;">{{c1.copiaCambioForma().imprimir()}}</p></ng-template>
        <hgroup *ngFor="let raiz of raices">
          <h6 *ngIf="c1.getForma()==='b';else imprimePolar" style="color: #1095C1;">{{raiz.imprimir()}}</h6>
          <ng-template #imprimePolar><h6 style="color: #1095C1;">{{raiz.copiaCambioForma().imprimir()}}</h6></ng-template>
        </hgroup>
      </div>  
    </ng-template>
  </div>  
</main>