<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
<main class="container noselect">
  <h1 style="margin-top: 100px;">Calculadora de números complejos</h1>

  <label>Primer complejo: </label>
  <div class="grid">
    <input type="number" step="0.01" id="complejo1_n1" [(ngModel)]="c1_n1">
    <input *ngIf="f1.value === '0: b';else simboloPolar" readonly type="text" value="+" style="text-align: center; border: none;">
    <ng-template #simboloPolar><input readonly type="text" value="∟" style="text-align: center; border: none;"></ng-template>
    <input type="number" step="0.01" id="complejo1_n2" [(ngModel)]="c1_n2">
    <div *ngIf="f1.value === '0: b';else simboloGrado" style="margin-top: 16px;">i</div>
    <ng-template #simboloGrado><div style="margin-top: 16px;">º</div></ng-template>
    <select #f1 [(ngModel)]="forma1">
      <option selected value="b" [ngValue]="'b'">Binómica</option>
      <option value="p" [ngValue]="'p'">Polar</option>
    </select>
  </div>  
  <label>Segundo complejo: </label>
  <div class="grid">
    <input type="number" step="0.01" id="complejo2_n1" [(ngModel)]="c2_n1">
    <input *ngIf="f2.value === '0: b';else simboloPolar" readonly type="text" value="+" style="text-align: center; border: none;">
    <ng-template #simboloPolar><input readonly type="text" value="∟" style="text-align: center; border: none;"></ng-template>
    <input type="number" step="0.01" id="complejo2_n2" [(ngModel)]="c2_n2">
    <div *ngIf="f2.value === '0: b';else simboloGrado" style="margin-top: 16px;">i</div>
    <ng-template #simboloGrado><div style="margin-top: 16px;">º</div></ng-template>
    <select #f2 [(ngModel)]="forma2">
      <option selected value="b" [ngValue]="'b'">Binómica</option>
      <option value="p" [ngValue]="'p'">Polar</option>
    </select>
  </div>  

  <div class="grid">
    <input style="background-color: #970103; border-color: #660002;" type="button" value="Sumar" (click)="calcular('s')">
    <input style="background-color: #d5a100; border-color: #977100;" type="button" value="Restar" (click)="calcular('r')">
    <input style="background-color: #0b9a02; border-color: #066100;" type="button" value="Multiplicar" (click)="calcular('m')">
    <input style="background-color: #1500d7; border-color: #10009e;" type="button" value="Dividir" (click)="calcular('d')">
  </div>

  <app-resultado [mostrar]="hayResultado" [complejo]="c3"></app-resultado>
  <div *ngIf="hayResultado" style="text-align: center; margin-bottom: 100px;"><canvas width="400" height="400" id="plano"></canvas></div>  
</main>